body{
    margin:0;
    font-family:Arial;
    text-align:center;
}

nav{
    background:black;
    padding:20px;
}

nav h2{
    color:white;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
}

.product{
    border:1px solid gray;
    width:250px;
    margin:30px auto;
    padding:20px;
}
product img{
    width:200px;
    height:auto;
}